# Django Settings
SECRET_KEY=your-secret-key-here-change-this-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

R2_ENABLED=true
R2_ACCESS_KEY_ID=xxx
R2_SECRET_ACCESS_KEY=xxx
R2_BUCKET_NAME=my-bucket
R2_ENDPOINT_URL=https://<accountid>.r2.cloudflarestorage.com
R2_PUBLIC_BASE_URL=https://pub-<hash>.r2.dev

# For production, set by FLY secrets:
# DEBUG=False
# ALLOWED_HOSTS=yourdomain.com,www.yourdomain.com
# ....

# Registration password - required for new user registration
REGISTRATION_PASSWORD=change-this-registration-password

# For password RESET
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com  # or your SMTP server
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password
DEFAULT_FROM_EMAIL=noreply@yourdomain.com

